@import 'src/styles';

.sidebar-hover {
  &:hover {
    transition: 0.25s;
    color: $light !important;
    @extend .fw-bold;
  }
}

#sidebar {
  .offcanvas-header {
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  li:not(.expanded) div.page {
    @extend .sidebar-hover;

    &:hover {
      background-color: $secondary;
      hr {
        display: none;
      }
    }

    border-radius: 6px;
  }

  .subtopic a {
    @extend .sidebar-hover;

    &:hover {
      text-decoration: underline !important;
    }
  }

  a:hover {
    color: inherit !important;
  }

  .expanded,
  .expanded * {
    transition: 0.25s;
    background-color: $primary;
    color: $light !important;
    @extend .fw-bold;
  }
}
