<app-page-title></app-page-title>

<section class="text-justify">
  <a id="introducao"></a>
  <p>
    Nós tivemos que nos adaptar ao modelo de aulas online. Apesar de todos os pesares,
    existem certas ações que nós podemos tomar para tornar essa experiência mais
    produtiva.
  </p>
  <p>
    É importante ressaltar que o seu sistema de organização e produtividade irá evoluir
    conforme suas necessidades. Não existe uma única combinação de sites e software, mas
    sim diferentes combinações que funcionam de acordo com as demandas atuais.
  </p>
  <p>
    Existem diversos sistemas de produtividade e organização &mdash; alguns dos mais
    conhecidos e adaptáveis sendo o
    <a
      target="_blank"
      rel="noreferrer noopener"
      href="https://todoist.com/productivity-methods/getting-things-done"
      ><abbr title="Getting Things Done">GTD</abbr></a
    >
    e o
    <a target="_blank" rel="noreferrer noopener" href="https://fortelabs.co/blog/para/"
      ><abbr title="Projects Areas Resources Archives">PARA</abbr> </a
    >. Nesse sentido, o intuito desta página é te apresentar a vários sites, softwares e
    materiais para que possa testar e encontrar aquilo que ressoa mais com você e a forma
    como você pensa!
  </p>
</section>

<section class="text-justify">
  <a id="ferramentas"></a>
  <app-title [subtitle]="true">Sites e softwares</app-title>
  <p>
    Imagine cada software/site como uma ferramenta, e os softwares/sites que você usa como
    uma caixa de ferramentas. Cada ferramenta tem um propósito específico. Por isso, mesmo
    que algum software ou site tenha mais de uma função, ele provavelmente será o mais
    eficaz em uma ou duas dessas funções. Abaixo separamos algumas ferramentas que podem
    ser útil na sua vida acadêmica:
  </p>

  <h5>Gerenciador de tarefas:</h5>
  <app-image-grid [gridItems]="taskManagerLogos"></app-image-grid>

  <h5>Planejamento:</h5>
  <app-image-grid [gridItems]="planningLogos"></app-image-grid>

  <h5>Anotação:</h5>
  <app-image-grid [gridItems]="notetakingLogos"></app-image-grid>

  <h5>Outras ferramentas:</h5>
  <app-image-grid [gridItems]="otherToolsLogos"></app-image-grid>
</section>
