<app-page-title></app-page-title>
<p>
  Todo ano é elaborado o famoso Kit Bixo, um conjunto de itens especiais da Elétrica 
  e do CAASO que podem ser adquiridos durante a Semana de Recepção. Mas cuidado, os Kits 
  são limitados e podem acabar, então não pastela e garanta o seu!
</p>

<app-figure
  [image]="{
    src: '/assets/images/kit-bixo/kit_bixo_2023.jpg',
    alt: 'Kit Bixo 2023',
    caption: 'Itens do Kit Bixo 2023'
  }"
  [small]="true"
></app-figure>

<section>
  <a id="compra-de-kits"></a>
  <app-title [subtitle]="true">Compra do Kit Bixo</app-title>

  <p>
    Está oficialmente declarado O INÍCIO DAS VENDAS DO <strong>KIT BIXO 2023</strong>!
    Com as vendas iniciadas dia <strong>13/02</strong>, vocês já podem garantir esse 
    combo incrível dos mais diversos itens. Para adquirir o seu Kit Bixo, acesse: 
    <a href="https://cheersapp.com.br/sasel.usp" target="_blank" rel="noopener noreferrer">Vendas Kit Bixo.</a>
  </p>

  <p>
    Os meios de pagamento disponíveis são: Boleto Bancário, PIX e Cartão de Crédito,
    e você poderá retirar o seu pedido presencialmente em São Carlos durante a Semana de Recepção!
  </p>

  <p>
    Vale lembrar que os produtos do Kit (a seguir) não serão vendidos individualmente:
  </p>
    <ul>
      <li>1 x Camiseta</li>
      <li>1 x Caneca</li>
      <li>1 x Tirante</li>
      <li>1 x Chaveiro-Abridor</li>
      <li>2 x Adesivos</li>
      <li>1 x Botton</li>
      <li>1 x Sacochila</li>
      <li>1 x Manual do Bixo</li>
    </ul>
</section>

<section>
  <a id="edicoes-anteriores"></a>
  <app-title [subtitle]="true"
    >Edições Anteriores</app-title
  >
  <app-alternating-layout [contents]="lastEditionsTextAndImageList"></app-alternating-layout>
</section>
