<app-page-title></app-page-title>

<section>
  <p>
    Na primeira semana, teremos diversas atividades de integração destinadas aos calouros
    de nosso curso. Por isso, confiram regularmente as atualizações aqui no site e nas
    nossas redes sociais. Também pode conferir a
    <a
      href="http://calouros.eesc.usp.br/#agenda_detalhada"
      target="_blank"
      rel="noopener noreferrer"
      >agenda detalhada da EESC</a
    >.
  </p>

  <a id="cronograma"></a>

  <app-figure
    [image]="{
      src: '/assets/images/semana-de-recepcao/cronograma.png',
      alt: 'Cronograma da Semana de Recepção de 2022',
      caption: 'Cronograma da Semana de Recepção de 2022'
    }"
  ></app-figure>
</section>

<section>
  <a id="apadrinhamento"></a>
  <app-title [subtitle]="true">Apadrinhamento</app-title>
  <p>
    Todos os bixos são designados a um padrinho, que é notificado sobre seu respectivo
    bixo/bixete. Esse padrinho/madrinha poderá te ajudar com dúvidas sobre o curso e te
    integrar sobre o CAASO. Caso não saiba quem é seu padrinho, entre em contato com a
    nossa comissão de recepção!
  </p>
  <p>
    Vale lembrar que assim como a USP, nós repudiamos qualquer trote.
    <strong>A recepção só é divertida para nós, se for divertida para você.</strong> Se a
    qualquer momento, alguém te constranger ou forçar a fazer algo indesejado, deixe-nos
    saber. Comunique-nos através da nossa
    <a href="http://bit.ly/OuvidoriaBixos2020" target="_blank" rel="noopener noreferrer">
      ouvidoria anônima</a
    >!
  </p>
</section>
