<app-page-title></app-page-title>
<p>
  Todos os veteranos já foram bixos e se perderam pelo menos uma vez na universidade;
  falar que um bixo é perdido é como falar que a água é molhada. Porém o importante é uma
  hora acertar o caminho, por isso que estamos disponibilizando algumas dicas para
  ajudá-lo(a) a se localizar na USP - São Carlos.
</p>
<p>
  Primeiramente é importante saber que existem dois campus da USP em São Carlos, o campus
  1 no centro da cidade, este será o local que você realizará a matrícula, passará pela
  semana de recepção e terá a maioria das suas aulas.
</p>
<p>
  E o campus 2 que se encontra em uma região mais afastada da cidade e concentra a
  graduação de alguns cursos como Eng. de Computação, Ambiental e Materiais, no entanto
  você provavelmente terá as aulas de laboratório de física e química lá, portanto também
  é importante conhecê-lo para evitar ficar perdido.
</p>

<p>
  Quer ver mais fotos do CAASO?
  <br />
  Confira no álbum
  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://photos.app.goo.gl/3msA5jNUZwsLsUa58"
    >"USP - São Carlos"</a
  >!
</p>
<br />

<div class="ratio ratio-16x9 w-100 w-lg-60 m-auto">
  <iframe
    width="1120"
    height="630"
    src="https://www.youtube-nocookie.com/embed/GCKL3OJyfHI"
    title="YouTube video player"
    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
