<!--TODO Sanitize HTML once pipe is merged-->
<div *ngFor="let item of contents">
    <div class="container">

        <!--Only image-->
        <div *ngIf="item.image && !item.text">
            <img [src]=item.image?.src [alt]=item.image?.alt style="width: 100%">
        </div>

        <!--Only text-->
        <div *ngIf="!item.image && item.text">
            <p class="text">{{ item.text }}</p>
            <!-- <span [innerHTML]="item.text | sanitizeHtml"></span> -->
        </div>
        
        <!--Text and image-->
        <!--Image left-->
        <div *ngIf="item.image && item.text && imageLeft" class="row">
            <div class="column">
                <img [src]=item.image?.src [alt]=item.image?.alt style="width: 100%">
            </div>
            <div class="column">
                <p class="text">{{ item.text }}</p>
                <!-- <span [innerHTML]="item.text | sanitizeHtml"></span> -->
            </div>
            {{ updateState() }}
        </div>
    
        <!--Image right-->
        <div *ngIf="item.image && item.text && !imageLeft" class="row">
            <div class="column">
                <p class="text">{{ item.text }}</p>
                <!-- <span [innerHTML]="item.text | sanitizeHtml"></span> -->
            </div>
            <div class="column">
                <img [src]=item.image?.src [alt]=item.image?.alt style="width: 100%">
            </div>
            {{ updateState() }}
        </div>

    </div>

</div>
