<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="this.modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <!-- image + link -->
    <figure class="mt-2 mb-4" *ngIf="url && image">
      <a [href]="url" target="_blank" rel="noreferrer noopener">
        <img [src]="image?.src" [alt]="image?.alt" />
      </a>
      <figcaption>{{ image?.caption }}</figcaption>
    </figure>

    <!-- link only -->
    <div class="mt-2 mb-3" *ngIf="url && !image">
      <a [href]="url" target="_blank" rel="noreferrer noopener" class="text-muted">
        [link]
      </a>
    </div>

    <!-- image only -->
    <figure class="mt-2 mb-4" *ngIf="!url && image">
      <img [src]="image?.src" [alt]="image?.alt" />
      <figcaption>{{ image?.caption }}</figcaption>
    </figure>

    <div class="px-1 pb-2">
      <div *ngIf="paragraphs" class="text-justify">
        <p *ngFor="let paragraph of paragraphs">
          {{ paragraph }}
        </p>
      </div>

      <ng-content></ng-content>
    </div>
  </div>
</ng-template>
