<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="this.modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <figure class="mt-2 mb-5">
      <a [href]="url" target="__blank" *ngIf="url; else coverOnly">
        <img [src]="image?.src" [alt]="image?.alt" class="w-100 image-responsive" />
      </a>
      <figcaption>{{ image?.caption }}</figcaption>
    </figure>

    <ng-template #coverOnly>
      <figure class="mt-2 mb-4">
        <img [src]="image?.src" [alt]="image?.alt" class="w-100 image-responsive" />
        <figcaption>{{ image?.caption }}</figcaption>
      </figure>
    </ng-template>

    <div class="px-1 pb-2">
      <div *ngIf="paragraphs" class="text-justify">
        <p *ngFor="let paragraph of paragraphs">
          {{ paragraph }}
        </p>
      </div>

      <ng-content></ng-content>
    </div>
  </div>
</ng-template>
