<div class="m-0 p-0 w-100 h-100">
  <div>
  <div *ngIf="images.length==1; else carouselBlock" class="banner-image m-0 p-0 w-100 mh-100" [style.backgroundImage]="'url(' + images[0].src + ')'"></div>
  <ng-template #carouselBlock>
    <carousel [noPause]="false" [interval]="15000" [showIndicators]="false" [isAnimated]="true">
    <slide *ngFor= "let image of images" class="banner-image m-0 p-0 w-100 mh-100" [style.backgroundImage]="'url(' + image.src + ')'"></slide>
  </carousel>
  </ng-template>
    <div class="bg-dark w-100 h-100"></div>
  </div>
  <div class="banner-title-container">
    <p class="text-white">Comissão de Recepção 2022</p>
  </div>
</div>
