<div class="m-0 p-0 w-100 h-100">
  <div class="banner-container">
    <div class="bg-dark"></div>

    <div
      *ngIf="background.length == 1; else carouselBlock"
      class="banner-bg"
      [style.backgroundImage]="'url(' + background[0].src + ')'"
    ></div>

    <ng-template #carouselBlock>
      <carousel
        [noPause]="false"
        [interval]="15000"
        [showIndicators]="false"
        [isAnimated]="true"
      >
        <slide
          *ngFor="let image of background"
          class="banner-bg"
          [style.backgroundImage]="'url(' + image.src + ')'"
        ></slide>
      </carousel>
    </ng-template>
  </div>

  <div class="logo-container w-50">
    <img *ngIf="logo" [src]="logo.src" [alt]="logo.alt" />
  </div>
</div>
