@import '../../../colors';

.banner-bg {
  height: 100vh;
  background-repeat: no-repeat;
  background-color: $black;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-clip: border-box;
}

.banner-container .bg-dark {
  opacity: 0.55;
  position: absolute;
  z-index: 1;
}

.logo-container {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
