<app-title>Matrícula</app-title>

<section>
  <p>
    No manual do candidato você encontrará informações detalhadas sobre as matrículas.
    Destacamos abaixo algumas das mais importantes.
  </p>

  <img
    src="/assets/images/matricula/fluxograma.png"
    alt="Fluxograma: Convoações, Matrícula e Lista de Espera"
    class="img-fluid d-block mx-auto my-2 w-100 w-lg-50"
  />
</section>

<section>
  <app-title [subtitle]="true"
    >Listas de Chamadas: Datas e Período da Divulgação e Matrícula (Etapa
    Virtual)</app-title
  >
  <br />

  <h5>Primeira Chamada</h5>
  <ul>
    <li>19/03/2021 (sexta-feira) &mdash; Divulgação pela FUVEST</li>
    <li>
      19/03/2021 (sexta-feira), das 8h até 23/03/2021 (terça-feira), às 16h &mdash;
      Matrícula
    </li>
  </ul>

  <h5>Segunda Chamada</h5>
  <ul>
    <li>29/03/2021 (segunda-feira) &mdash; Divulgação pela FUVEST</li>
    <li>
      29/03/2021 (segunda-feira), das 8h até 30/03/2021 (terça-feira), às 16h &mdash;
      Matrícula
    </li>
  </ul>

  <h5>Terceira Chamada</h5>
  <ul>
    <li>05/04/2021 (segunda-feira) &mdash; Divulgação pela FUVEST</li>
    <li>
      05/04/2021 (segunda-feira), das 8h até 06/04/2021 (terça-feira), às 16h &mdash;
      Matrícula
    </li>
  </ul>

  <p>
    <strong>Observação:</strong> Horário de atendimento do Suporte De Grauação: das 8h00
    às 18h00, de segunda a sexta-feira(excepcionalmente, nos dias 20 e 21/03/2021, também
    haverá atendimento nesse mesmo horário
  </p>
</section>

<section>
  <app-title [subtitle]="true">Matrícula - Etapa Presencial (1ª a 3ª chamadas)</app-title>
  <p>
    A matrícula para todos candidatos convocados nas três chamadas regulares ocorrerá nos
    dias <strong>12, 13 e 14/04/2021</strong> (segunda, terça e quarta-feira),
    <strong>das 13h00 até as 17h00</strong>.
    <br />
    <br />
    <strong>Observação:</strong> O dia e horário específicos de cada curso e turno serão
    divulgados posteriormente, via e-mail, a todos os ingrassantes.
  </p>
</section>

<section>
  <app-title [subtitle]="true">Local de Matrícula:</app-title>
  <div class="row justify-content-around mt-3">
    <div class="col-12 col-md-6">
      <h5>Anfiteatro de Convenções Jorge Caron</h5>
      <p>
        Rua Miguel Petroni, 168-178
        <br />
        Universidade de São Paulo
        <br />
        Jardim Bandeirantes - CEP: 13566-590
        <br />
        Em frente ao E1
        <br />
        São Carlos, SP
      </p>
    </div>

    <div class="col-12 col-md-6">
      <h5>Escola de Engenharia de São Carlos</h5>
      <p>
        Av. Trabalhador São Carlense, 400
        <br />
        Parque Arnold Schimidt - 13566-590
        <br />
        São Carlos, SP
        <br />
        (16) 3373-9249 ou 3373-9929
        <br />
        <a
          href="mailto:graduação@eesc.usp.br"
          target="_blank"
          rel="noopener noreferrer"
          title="Enviar email"
          >graduação@eesc.usp.br</a
        >
      </p>
    </div>
  </div>
</section>
