<div
  class="row px-2 my-4 justify-content-center align-items-center"
  [ngClass]="large ? 'gap-2' : 'gap-5'"
>
  <div
    *ngFor="let item of gridItems"
    class="{{ item.fill ? 'flex-fill' : '' }} p-0"
    [ngClass]="large ? 'col-12 col-md-3' : 'col-4 col-md-2 p-lg-3'"
  >
    <div *ngIf="!item.modal; else showModal">
      <figure class="d-block m-auto">
        <a [href]="item.url" target="_blank" rel="noreferrer noopener">
          <img [src]="item.image.src" [alt]="item.image.alt" />
        </a>
        <figcaption
          *ngIf="item.image.caption"
          [innerHTML]="item.image.caption | sanitizeHtml"
        ></figcaption>
      </figure>
    </div>

    <ng-template #showModal>
      <figure class="d-block m-auto">
        <img
          (click)="createModal(item.modal!)"
          [src]="item.image.src"
          [alt]="item.image.alt"
          class="cursor-pointer"
        />
        <figcaption
          *ngIf="item.image.caption"
          [innerHTML]="item.image.caption | sanitizeHtml"
        ></figcaption>
      </figure>
    </ng-template>
  </div>
</div>

<app-modal
  [(isOpen)]="openModal"
  [image]="modal.image"
  [title]="modal.title"
  [text]="modal.text"
  [url]="modal.url"
></app-modal>
