<div class="my-1 d-flex flex-column gap-5 px-3">
  <div *ngFor="let item of contents">
    <!--Only image-->
    <div *ngIf="item.image && !item.text">
      <img [src]="item.image.src" [alt]="item.image.alt" class="w-100" />
    </div>

    <!--Only text-->
    <div *ngIf="!item.image && item.text">
      <p class="text-justify" [innerHTML]="item.text | sanitizeHtml"></p>
    </div>

    <!--Image and text-->
    <div *ngIf="item.image && item.text && item.imageOnLeft !== undefined">
      <div
        [ngClass]="textElement.offsetHeight < imageElement.offsetHeight ? 'd-flex' : ''"
        class="align-items-center"
      >
        <div
          #imageElement
          class="w-50"
          [ngClass]="
            getCustomImageClasses(
              item,
              item.imageOnLeft,
              textElement.offsetHeight,
              imageElement.offsetHeight
            )
          "
        >
          <img [src]="item.image.src" [alt]="item.image.alt" class="w-100" />
        </div>
        <p
          #textElement
          class="text-justify"
          [ngClass]="
            getCustomTextClasses(
              item,
              item.imageOnLeft,
              textElement.offsetHeight,
              imageElement.offsetHeight
            )
          "
          [innerHtml]="item.text | sanitizeHtml"
        ></p>
      </div>
    </div>
  </div>
</div>
