// Text justification is not supported by bootstrap
.text {
  text-align: justify;
  padding: 5%;
}

.container {
  padding-bottom: 3%;
  padding-top: 3%;
}

.floated-left {
  float: left;
  width: 50%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 1%;
}

.floated-right {
  float: right;
  width: 50%;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 5%;
  padding-bottom: 1%;
}
