// Text justification is not supported by bootstrap
// .text-justify {
//   text-align: justify;
// }

.left {
  float: left;
  padding-right: 2%;
}

.right {
  float: right;
  padding-left: 2%;
}

.c-w {
  width: 50%;
}

@media (max-width: 700px) {
  .c-w {
    flex-direction: column;
  }
}
