<app-page-title></app-page-title>

<p>
  Como aluno(a) da USP, você tem direito de acessar livremente qualquer biblioteca
  independentemente do campus. Cada um dos 5 institutos no campus de São Carlos tem sua
  própria biblioteca (além de uma presente no campus 2). Devido aos amplos acervos, os
  materiais recomendados pelos professores geralmente possuem alta disponibilidade (<s
    >exceto em semana de prova</s
  >), assim, você não precisa se preocupar em comprar livros ou apostilas.
</p>

<app-image-grid [gridItems]="libraries" [large]="true"></app-image-grid>

<p>
  Atualmente, a biblioteca da EESC está passando por uma reforma, para melhor atender
  às necessidades dos alunos. Com isso, o acervo da biblioteca foi tranferido,
  temporariamente, para o Espaço Primavera, localizado abaixo do prédio E1. Para
  acessar tal local, é preciso se dirigir a parte de trás do mesmo, sendo possível
  chegar lá vindo dos Anfiteatros da EESC, vindo da biblioteca do IFSC, ou contornando
  o próprio Espaço Primavera pelas laterais.
</p>

<app-image-grid [gridItems]="eesclibrary" [large]="true"></app-image-grid>

<p>
  Na sua primeira visita a uma biblioteca da USP, você poderá fazer seu cadastro, te
  permitindo acesso ao empréstimo de livros em qualquer unidade.<br /><br />Uma vez feito
  um empréstimo, você tem o direito de ficar com o livro por 10 dias. Caso ninguém tenha
  feito uma reserva no livro, você pode o renovar por mais 10 dias (online ou
  presencialmente). Você pode renovar até 3 vezes, totalizando um total de 40 dias com o
  livro.<br /><br />
  Após esses 40 dias, você deve devolver o livro presencialmente na biblioteca de origem.
  Lá, é possível, no entanto, emprestá-lo novamente caso não haja ninguém na fila de
  reserva.<br /><br />
  A punição para o atraso na devolução de livros é a suspensão do direito de fazer novos
  empréstimos. Para cada dia de atraso, por livro, significa um dia não podendo pegar
  novos exemplares. Ou seja, atrasou 2 dias e tem 3 livros → 6 dias suspenso.
</p>

<app-figure
  [image]="{
    src: '/assets/images/bibliotecas/acervo.jpg',
    alt: 'Acervo de exemplares, biblioteca ICMC',
    caption: 'Acervo de exemplares, biblioteca ICMC'
  }"
  [small]="true"
></app-figure>

<p>
  Você pode pesquisar por livros no acervo, ver e renovar seus empréstimos, e solicitar
  reserva de um livro indisponível no momento por meio de 2 plataformas.
</p>
<app-image-grid [gridItems]="searchOptions" [large]="true"></app-image-grid>

<app-alternating-layout [contents]="textAndImageList"></app-alternating-layout>
